################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/2025/Day1_Secret_Entrance/.vs
/2025/Day1_Secret_Entrance/out/build/x64-debug
